paddlepaddle-gpu==2.6.1
paddleocr==2.7.3
filterpy==1.4.5
numpy==1.26.4
opencv-python==4.6.0.66
pandas==2.3.3
pillow==12.1.1
scipy==1.15.3
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
ultralytics==8.0.114
tqdm==4.67.3